<section
  class="relative h-[75vh] md:h-screen w-full overflow-hidden bg-beeses-dark uppercase tracking-wider text-xs font-medium">

  <!-- Arka Plan Tanıtım Videosu (petekmono) -->
  <video
    autoplay
    [muted]="true"
    loop
    playsinline
    class="absolute inset-0 w-full h-full object-cover z-0">
    <source src="assets/videos/petekmono.mp4" type="video/mp4">
  </video>

  <!-- Karartma ve Alt Katmana Yumuşak Geçiş Arayüzü -->
  <div class="absolute inset-0 z-10 bg-black/45"></div>
  <div class="absolute inset-0 z-10 bg-gradient-to-b from-black/50 via-transparent to-beeses-dark"></div>



  <div class="absolute bottom-8 left-1/2 -translate-x-1/2 z-30 text-beeses-silver/20 animate-bounce">
    <lucide-icon name="chevron-down" class="w-6 h-6"></lucide-icon>
  </div>

</section>